p {
  color: red;
  width: 100px;
    height: 50px;
    margin: 10px;
    position: relative;
    float: left;
    border-radius: 50%

}.embossed-heavy {
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 
      inset 0 2px 3px rgba(255,255,255,0.3), 
      inset 0 -2px 3px rgba(0,0,0,0.3),
      0 1px 1px rgba(255,255,255,0.9);
}



.metro {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: rgb(170, 0, 204);
  /* Font styles */
  color: rgb(18, 230, 36);
  font-weight: bold;
  text-decoration: none;
}

metro:hover {
  background: rgb(254, 255, 253)
}

.bordered-link {
  display: inline-block;
  padding: 8px;
  border: 3px solid #FCB326;
  border-radius: 6px;
  box-shadow: 
      0 2px 1px rgba(0, 0, 0, 0.2), 
      inset 0 2px 1px rgba(0, 0, 0, 0.2);
  /* Font styles */
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #222;
}

.bordered-link:hover {
  border-color: #FDD68B
}

.bordered-link:active {
  border-color: #FEE8BD
}

