.bordered-kink {
  display: block;
  padding: 5%;
  margin: 10%;
  text-align: center;
  border: 20px solid #28471c;
  border-radius: 30px 30px 100px 100px;
  font-size: 150%;
  color: #081401;
  background-color: #03ff6caf;
  }

  .bordered-kink:hover {
  border-color: #2bff00
  }

  .bordered-kink:active {
  border-color: #e70c0c
  } 



.bordered-link {
  position: static;
  width: 0 auto;
  display: block;
  text-align: center;
  padding: 40px;
  border: 6px solid #FCB326;
  border-radius: 100px;
    box-shadow: 
      0 2px 1px rgba(0, 0, 0, 0.2), 
      inset 0 2px 1px rgba(0, 0, 0, 0.2);
    /* Font styles */
    color: #ffef10;
    background-color: #000000;
    }

  .bordered-link:hover {
  border-color: #FDD68B
  }

  .bordered-link:active {
  border-color: #FEE8BD
  }
    
p {
  color: #e70c43;
  font-style:italic;
  }
.metro {
  display: inline-block;
  padding: 5%;
  margin: 7%;
  background: rgba(0, 0, 0, 0.842);
  border-radius: 1em;
  animation: bounce 10s infinite;
  /* Font styles */
  color: rgb(16, 233, 88);
     font-weight: bold;
     text-decoration: none;
     }    